.Navbar{
  display: flex;
  justify-content: space-between;
  .logo{
    width: 100px;
    height: 80px;
    padding: 10px 25px 10px;
  }
  .information{
    padding: 10px 25px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .infor{
      font-size: 15px;
      font-weight: 500;
      font-family: monospace;
    }
  }
}

.ListOfLogo{
  display: flex;
  justify-content: center;
  .FeatureLogo{
    height: 40px;
    padding: 10px;
  }
}

.TitleGroup{
  display: flex;
  align-items: center;
  justify-content: center;
  .Title{
    color: #f35f5f;
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-right: 20px;
    font-weight: 500;
  }
  .FeatureLogo{
    width: 60px;
    height: 60px;
    padding: auto;
  }
}

.Box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding-top: 20px;
  .Image{
    width: 100px;
    height: 150px;
    padding: 20px 0px 20px;
  }
  .Paragrahp{
    width:fit-content;
    font-size: 25px;
    padding-top: 20px;
  }
  .Upload-Image{
    width: 35%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid gray;
    box-sizing: border-box;
    .FilePicker{
      width:fit-content;
      padding: 10px;
      margin-left: 50px;
    }
  }
}